.transactionHistory {
table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 2px solid grey;
}


.tableHead {
  & th {
    background-color: burlywood;
  }
}


.tableBody {
  text-align: center;

  & tr:nth-child(even) {
    background-color: cadetblue;
  }
}